@keyframes ripple {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.75);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes fadeHeaderInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900,900i&amp;display=swap');
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
    font-size: inherit;
    margin: 0;
}
.product-blog-01 .shop-prdt-data .hr-1,
.shop-1-list .shop-prdt-data .hr-1,
.bnr-pagination.bg-light-white,
.blobs{
    background-color: #ff9b05b8;
}
.blobs .blob-center,
.blobs .blob{
    background-color: #ffefe2;
}
.product-blog-01 .shop-buttons .btn-cart,
.shop-2-list .prdt-list-btns .btn-cart:hover,
.shop-2-list .prdt-list-img span,
.shop-1-list .shop-prdt-img span,
.product-blog-01 .shop-prdt-img span,
.shop-1-list .shop-buttons .btn-cart,
.btn-yellow{
    color: #fff;
    background-color: #412236;
}
.product-blog-01 .shop-buttons .btn-view:hover,
.shop-1-list .shop-buttons .btn-view:hover {
    border-color: #db4343;
    color: #db4343;
}

.image-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
ul.custom {
    list-style: none;
    padding: 0;
}
.parallax {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s, opacity 0.3s ease-in;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.overlay-bg-black {
    background: #000;
    opacity: 0.5;
    z-index: -1;
}
.overlay-bg-light{
	background: #ffefe2;
    opacity: 0.9;
    z-index: -1;
}

.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fw-100 {
    font-weight: 100;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.mb-xl-20 {
    margin-bottom: 20px;
}
.mb-xl-30 {
    margin-bottom: 30px;
}
.mb-xl-40 {
    margin-bottom: 40px;
}
.mb-xl-80 {
    margin-bottom: 80px;
}
/*section-header*/
.section-header{
    max-width: 540px;
    padding-bottom: 35px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
}
.section-header .section-heading{
    position: relative;
}
.section-header .section-heading:after{
    content: "";
    height: 5px;
    width: 80px;
    background-color: #db4343;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
}
.section-header .section-heading h5{
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.section-header .section-heading h3{
    padding-bottom: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-header .section-description{
    margin-bottom: 20px;
    position: relative;
}
.slider-sec{
	position: relative;
	overflow: hidden;
}
.slider-nav{
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    transform: translate(0px, -50%);
}
.slider-nav .left-nav{
	left: -50px;
    position: absolute;
    transition: 0.3s all;
    color: #fff;
    background: #db4343;
}
.slider-nav .right-nav{
	right: -50px;
    position: absolute;
    transition: 0.3s all;
    color: #fff;
    background: #db4343;
}
.slider-sec:hover .slider-nav .left-nav{
	left: 0;
}
.slider-sec:hover .slider-nav .right-nav{
	right: 0;
}
body{
	font-family: 'Lato',sans-serif;
	background-color: #ffefe2;
}
a, a:hover{
	color: #412236;
}
.text-custom-white{
	color: #fff;
}
.album-text h4 a,
.event-list-content ul li,
.work-item .work-text-2 h3 a,
.text-custom-pink{
	color: #db4343;
}
.text-dark-red{
	color: #412236;
}
.text-custom-black{
	color: #2a2b25;
}
.bg-yellow{
	background: #ff9b05b8;
}
.player-controls.scrubber .fa,
.small,
small,
.next_prev,
.audio-player #play-btn,
.mg-mega-menu-title,
.mg-header ul li.mg-nav-item-has-children .sub-menu li a:not(.disabled):hover,
.mg-header ul li.mg-nav-item-has-children .sub-menu li a:not(.disabled):hover,
header.type4 .nav-links1 li a:hover{
	color: #ffefe2;
}
.product-blog-01 .shop-prdt-img,
.shop-1-list .shop-prdt-img,
.bg-light-white, .about-me[data-overlay]::before, .blog-2[data-overlay]::before, .subscribe:hover, .flipper .back {
    background: #f5f5f5;
}
.event-list-content,
.sidebar-outer{
    background-color: #fff;
}
.blog-by-info {
    border-top: 1px solid #41223678;
    border-bottom: 1px solid #41223678;
}
.main-slider-2.owl-carousel .owl-nav button:hover,
.input-search+i,
.yellow{
	color: #412236;
}
.shop-1-list .pagination-sml li:hover a,
.shop-1-list .pagination-sml li.active a {
    border-color: #412236;
    background-color: #412236;
    color: #fff;
}
.shop-cta .btn-black:hover {
    background-color: #ffefe2;
}
.right-menu,
.laink-arrow,
.nav-links1 li a:after,
.btn-border-out:before{
	background-color: #ffefe2;
}
.bg-calendar i{
    position: absolute;
    top: 15px;
    right: 15px;
}
.btn-filter,
.btn-border-out{
	border-color: #ffefe2;
}
.mg-header.mg-header-dark ul li a,
.btn-border-out:hover{
	color: #fff;
	border-color: #fff;
}
.block-quote-by:before,
.audio-player .player-controls progress[value],
.btn-border-out:hover:before{
	background-color: #412236;
}
.btn-border-out:hover{
    border-color: #412236;
}
.album-text h3 a,
.banner-content-3 h2,
.yello-dot-list li:before,
.user-exprnce h3,
.work-text .category{
    color: #db4343;
}
.mnsry-work .overlay-full{
    border: 7px solid #412236;
}
.shop-1-list .shop-sidebar .card-body{
    padding: 22px 20px 20px;
}
.shop-1-list .shop-sidebar .card{
    padding: 0;
}
.login-form .bg-yellow,
.input-white+.input-group-append .btn,
.mg-schedules-table-2 .thead-dark,
.cart-1-table .cart-box-head,
.shop-1-list .shop-sidebar .card-header h2,
.shop-2-list .shop-sidebar.type2 .card-header h2{
    color: #fff;
    background-color: #412236;
}
.mg-schedules-table-2 .thead-dark th,
.coming-soon-section .outer-box,
.event-list-content:hover,
.event-list-content,
.contact-2 .ftr-newsletter input,
.cart-1-table .cart-table tbody tr td,
.pagination-sml li a,
.shop-1-list .shop-sidebar .card,
.shop-1-list .shop-sidebar .card-header,
.shop-2-list .shop-sidebar.type2 .card,
.shop-1-list .shop-buttons .btn-view,
.each-album:hover:before,
.donation-bg-border,
.yellow-border-7,
.form-control.input-white:focus,
.btn-filter.active,
.work-each:hover .overlay-full,
.happyclients,
.video-area{
    border-color: #412236;
}
.light-white, .icon-bg-quote, .quote-right-light {
    color: #f5f5f5;
}
.mg-causes.style-1 .causes-amount span,
h1, h2, h3, h4, h5, h6{
	color: #44233b;
	font-family: 'Lora', serif;
}
p{
	font-family: 'Lato',sans-serif;
}
.mg-header.mg-header-dark, .mg-header.mg-header-dark .sub-menu, .mg-header.mg-header-dark.sticky {
    background-color: #ff7b0a;
}
.footer-social li:hover a,
.banner-content-3 h1{
	color: #fff;
}
.blog-by-info .btn-black,
.post-comment .btn-black,
.ctnct-info-icon,
.cart-1-table .btn-yellow,
.cart-1-table .btn-black{
    background-color: #412236;
    color: #fff;
}
.ctnct-info-icon h6{
    color: #201c15;
}
.login .btn-black:hover,
.blog-by-info .btn-black:hover,
.post-comment .btn-black:hover,
.cart-1-table .btn-yellow:hover,
.cart-1-table .btn-black:hover{
    color: #fff;
    background-color: #201c15;
}
.btn-black{
	background: #f6e0ce;
	color: #412236;
}
.btn-banner-border:hover,
.btn-black:hover {
    background-color: #ffefe2;
    color: #2a2b25;
}
.btn-banner-border{
    background: #db4343;
    color: #ffffff;
    border-color: #db4343;
}
.btn-banner-border:hover{
    border-color: #f6e0ce;
}
.fx-menu-wrapper.visible{
	background: #412236;
    color: #f6e0ce;
    height: 100vh;
    overflow: scroll;
}
.btn-small:hover{
	background: #f6e0ce;
	color: #412236;
}
.close-menu a span{
	background-color: #fff;
}
.db-block{
	display: flex;
    align-items: center;
    justify-content: center;
        background: #ffbe08ad;
}
.footer-social li a {
    background: rgba(42, 43, 37, 0.1);
    border-radius: 0;
}
.footer-social li:hover a{
	background: #412236;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, .1);
}
.slider-2 .each-slider-2 .jarallax{
	height: 700px;
	width: 100%;
}
.slider-2 .each-slider-2{
    position: relative;
}
.slider-3 .each-slider-2:before,
.slider-2 .each-slider-2:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #000;
    opacity: 0.5;
}
.menu-bars span,
.scroll-btn{
	background: #412236;
}
.scroll-btn i, .cta h3, .cta h2 {
    color: rgb(255, 255, 255);
}
.six-link .sub-menu{
	width: 400px;
    columns: 2;
}
.mg-causes-single .cause-progress .progress-bar span,
.mg-causes-single .cause-progress .progress-bar .progress-box span,
.mg-causes-single .cause-progress .progress-bar,
.line-under{
    background: #db4343;
}
.mg-causes-single .cause-progress .progress-bar span:after{
    border-top-color: #db4343;
}
.blog-listing article.post {
    margin-bottom: 30px;
}
.lined-button:hover,
.lined-button{
    background-color: #412236;
    padding: 8px 17px;
    color: #fff;
}
.full-gallery-slide.owl-carousel:hover .owl-nav button.owl-prev{
  background-color: #db4343;
  border-color: #412236;
  color: #412236;
}
.full-gallery-slide.owl-carousel:hover .owl-nav button.owl-next{
  background-color: #db4343;
  border-color: #412236;
  color: #412236;
}
.simple-quote{
    border-color: #db4343;
}
footer .footer-style{
    background-color: #ffefe2;
}
footer .bottom-footer{
    background-color: #ffbe08ad;
    padding: 20px 0;
}
footer .bottom-footer .hr-2{
    margin-bottom: 0;
}
/*top-bar*/
.topbar{
	padding: 0 20px 10px;
	background-color: #ffbe08ad;
}
.topbar .top-link{
	padding: 10px 0 0;
}
.topbar .top-link ul{
	display: flex;
}
.topbar .top-link ul li a{
	color: #412236;
	font-size: 12px;
}
.topbar .top-link ul li a i{
	margin-right: 5px;
    color: #412236;
}
.topbar .top-link.left-side ul li{
	margin-right: 20px;
}
.topbar .top-link.right-side ul{
	justify-content: flex-end;
}
.topbar .top-link.right-side ul li{
	margin-left: 20px;
}
.topbar .top-link.center ul{
	justify-content: center;
}
.topbar .top-link.center ul li{
	margin: 0 10px;
}
.topbar .top-link.center ul li a i{
	margin-right: 0;
}
header.type4{
	top: auto;
    position: relative;
}
header.type4.fixed-nav{
    position: fixed;
    animation-name: fadeHeaderInDown;
	top: 0;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.pagination-inner li a:hover,
.bnr-pagination h1,
.bnr-pagination h2,
.pagination-inner li{
    color: #fff;
}
.cart-1-table .cart-table thead tr th {
    border-color: #db4343;
    color: #fff;
}
.cart-1-table .cart-table thead {
    background: #412236;
}
/*about-temple*/
.about-temple,
.gallery-side-bg{
	position: relative;
}
.work-masonry-div{
  z-index: 10;
}
.gallery-side-bg::before{
	content: '';
	background-image: url("https://via.placeholder.com/350x590");
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 15vw;
}
.about-temple:before{
	content: '';
	background-image: url("../images/bgleft.png");
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 15vw;
}
.about-temple:after{
	content: '';
	background-image: url("../images/bgright.png");
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 15vw;
}
.gallery-side-bg::after{
  content: '';
  background-image: url("https://via.placeholder.com/350x590");
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 15vw;
}

.album-text:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #000;
    opacity: 0.8;
    content: '';
    display: block;
}
.gallery-side-bg::before,
.gallery-side-bg::after{
  background-repeat: no-repeat;
}
.about-temple .image-box{
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
.about-temple .image-box>img{
	object-fit: contain;

}
.about-temple .image-box:hover>img{
	filter: grayscale(0);
}
/*temple-counter*/
.temple-counter{
	background-image: url(../images/sermon/live-sermon-audio-h1.jpg);
	height: 660px;
}
.temple-counter .counter-box {
    display: flex;
    align-items: center;
    max-width: 100%
}
.temple-counter .counter-box .counter-icon{
    margin-right: 20px;
    font-size: 65px;
    line-height: 1;
    color: #fff;
}
.temple-counter .counter-box .count {
    text-transform: capitalize;
        white-space: nowrap;
}
.temple-counter .counter-box .count span.counter {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    display: block;
}
.temple-video-sec .temple-counter{
	background-image: none;
	height: auto;
}
.temple-video-sec .temple-counter .counter-box .counter-icon{
	color: #412236;
}
.temple-counter .about-temple:before,
.temple-counter .about-temple:after{
	display: none;
}
.temple-video-sec .testimonials-area{
	background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 40px 0;
    z-index: 1;
    position: relative;
}
/*temple video*/
.temple-video-sec{
    background-color: #ffefe2;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c9b38c' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.temple-video-sec .video-box{
	border: 8px solid #412236;
	margin-top: -208px;
    position: relative;
    z-index: 1;
}
.temple-video-sec .video-box .video_wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #000;
    height: 400px;
}
.temple-video-sec .video-box .videoIframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}
.temple-video-sec .video-box .videoPoster img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: none;
    background-position: center;
    overflow: hidden;
    opacity: 1;
    transition: opacity 100ms, height 0s;
    transition-delay: 0s, 0s;
}
.temple-video-sec .video-box .videoPoster:hover {
    cursor: pointer;
}
.temple-video-sec .video-box .videoPoster .video-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.temple-video-sec .video-box .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    transition-delay: 0s, 800ms;
}
.temple-video-sec .video-box .video-btn-wrapper {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    font-size: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .25s ease, width .25s ease;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.temple-video-sec .video-box .video-btn-wrapper>a>i{
    font-weight: 600;
}
.temple-video-sec .video-box .video-btn-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: ripple 2s linear infinite;
}
.temple-video-sec .video-box .video-btn-wrapper .video-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: inherit;
    font-size: 30px;
}
/*samadhi-center*/
.samadhi-center .samadhi-center-text h3{
	line-height: 50px;
	max-width: 550px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.samadhi-center .samadhi-center-text{
	margin: 0 auto;
	text-align: center;

}
.blog-img:before,
.project-img:before{
	border: 6px solid #412236;
}
.project-img .gallery-links:hover{
	color: #412236;
}
/*temple-service-sec*/
.lines-bg{
	background-image: url(../images/lines.jpg);
	position: relative;
	z-index: 1;
}
.lines-bg:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #ffefe2;
    opacity: 0.9;
}
.temple-service-box{
	position: relative;
}
.temple-service-box .service-box-inner{
	background-color: #fff;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
    border: 2px solid #412236;
}
.temple-service-box .service-box-inner .icon-box{
	margin-bottom: 10px;
	color: #412236;
	font-size: 60px;
	transition: 0.5s;
}
.temple-service-box .service-box-inner:hover .icon-box{
	transform: translateY(-10px);
}
/*download-app*/
.download-app{
	background-image: url("../images/testimonial/bg.jpg");
}
.download-app .app-img{
	margin: 0 auto;
	position: relative;
	max-width: 450px;
}
.download-app .app-img img+img{
	position: absolute;
    right: 0;
    bottom: 0;
}
.download-app .app-text{
	text-align: right;
}
.download-app .app-text .section-header{
	margin: 0;
	text-align: right;
	float: right;
}
.download-app .app-text .section-header .section-heading:after{
	margin: 0 0 0 auto;
}
/*blog*/
.our-articles .post .blog-wrapper .blog-img{
    position: relative;
    overflow: hidden;
}
.our-articles .post .blog-wrapper .blog-img:after{
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
    overflow: hidden;
    transform: scaleY(1);
    opacity: 0.5;
}

.our-articles .post .blog-wrapper .blog-meta{
    background: #fff;
    padding: 20px;
    transition: all 0.3s;
}

.our-articles .post .blog-wrapper .blog-meta h2{
    line-height: 1.5;
    font-size: 18px;
}
.our-articles .post .blog-wrapper .blog-img .post-meta{
    display: flex;
    align-items: center;
    margin: -20px;
    margin-bottom: 20px;
}
.our-articles .post .blog-wrapper .blog-img .post-meta .post-date{
    position: absolute;
    top: 20px;
    left: -100px;
    transition: 0.3s all;
}

.our-articles .post .blog-wrapper .blog-img .post-meta .post-date .date{
    padding: 6px 0px 6px 7px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    overflow: hidden;
    background-color: #2a2b25;
    align-items: center;
}
.our-articles .post .blog-wrapper .blog-img .post-meta .post-date .date sup{
    top: -6px;
    left: 3px;
    font-weight: 400;
    line-height: normal;
    font-size: 10px;
}
.our-articles .post .blog-wrapper .blog-img .post-meta .post-date .date span{
    transform: rotate(90deg);
    font-size: 14px;
    line-height: 28px;
    padding: 2px 6px;
    position: relative;
    right: -8px;
}
.our-articles .post .blog-wrapper .blog-img .post-meta .post-date .date span.year{
    background-color: rgb(219, 67, 67);
}
.our-articles .post .blog-wrapper .blog-meta .cat-box{
    position: relative;
    margin-top: -37px;
    background: #412236;
    margin-bottom: 15px;
    padding: 5px 10px;
    width: fit-content;
    z-index: 1;
}
.our-articles .post .blog-wrapper .blog-meta .cat-box .cats a{
    color: #fff;
    font-size: 16px;
    position: relative;
}
.our-articles .post .blog-wrapper .blog-meta .cat-box .cats a:after{
    content: '/';
    margin: 0 5px;
    position: relative;
    top: 1px;
}
.our-articles .post .blog-wrapper .blog-meta .cat-box .cats a:last-child:after{
    display: none;
}
.our-articles .post .blog-wrapper .blog-meta .post-meta-middle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.our-articles .post .blog-wrapper .blog-meta .blog-description{
    margin-bottom: 20px;
}
.our-articles .post .blog-wrapper .blog-meta .blog-footer{
    border-top: 1px solid #efefef;
    padding-top: 20px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our-articles .post .blog-wrapper .blog-meta .blog-footer .post-author span{
    font-style: italic;
}
.our-articles .post .blog-wrapper .blog-meta .blog-footer .post-author span a{
    color: #db4343;
}
.our-articles .post .blog-wrapper .blog-meta .blog-footer .link{
	text-transform: uppercase;
}
.our-articles .post .blog-wrapper .blog-meta .blog-footer:before{
    content: '';
    width: 50px;
    height: 3px;
    position: absolute;
    top: -2px;
    background: #db4343;
    display: block;
}
.our-articles .post .blog-wrapper:hover .blog-img:after{
	transform: scaleY(0);
    opacity: 1;
}
.our-articles .post .blog-wrapper:hover .blog-img img{
    transform: scale(1.1);
    transition: 0.5s;
}
.our-articles .post .blog-wrapper:hover .blog-meta{
	transform: translateY(-20px);
}
.our-articles .post .blog-wrapper:hover .blog-img .post-meta .post-date{
	left: 0;
}
/*temple-testimonials*/
.temple-testimonials{
	background-image: url("../images/testimonial/bg.jpg");
}
.temple-testimonials .testimonial-block{
    background: #fff;
    border: 3px solid #412236;
    font-style: italic;
    text-align: center;
    padding: 35px 35px 120px;
    position: relative;
    margin-bottom: 40px;
}
.temple-testimonials .testimonial-block .text span{
    font-size: 36px;
}
.temple-testimonials .testimonial-block .quote {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.temple-testimonials .testimonial-block .quote .designation,
.temple-testimonials .testimonial-block .quote .name {
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.temple-testimonials .testimonial-block .quote img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-clip: padding-box;
    margin-bottom: -40px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}
/*footer*/
.footer-style{
	border-bottom: 1px solid #412236;
}
.footer-style .footer-box .contact-detail li:last-child{
	margin-bottom: 0;
}
.footer-style .footer-box .contact-detail li{
	margin-bottom: 10px;
}
.footer-style .footer-box .ft-head{
	position: relative;
}
.footer-style .footer-box .ft-head h5{
	padding-bottom: 20px;
}
.footer-style .footer-box .ft-head h5:after{
	content: "";
    height: 5px;
    width: 80px;
    background-color: #db4343;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.footer-style .footer-box .instagram{
	columns: 3;
	display: flex;
    flex-wrap: wrap;
}
.footer-style .footer-box .instagram li{
	height: 85px;
	position: relative;
}
.footer-style .footer-box .instagram li .insta-icon{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0, -50%);
	margin: 0 auto;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}
.footer-style .footer-box .instagram li:hover .insta-icon{
	opacity: 1;
	visibility: visible;
}
.footer-social li:hover a{
	transform: rotate(360deg);
}
.temple-video-sec .video-box .videoWrapperActive .videoIframe{
  z-index: 9;
}
/*Responsive*/
@media (max-width: 1500px) {}
@media (max-width: 1200px) {
	.mg-header ul li{
		padding: 1.5rem 0.5rem;
	}
	.topbar{
		padding: 0 0px 10px
	}
	.topbar .top-link.left-side ul li{
		margin-right: 10px;
	}
	.topbar .top-link.right-side ul li{
		margin-left: 10px;
	}
	.topbar .top-link ul li a{
		font-size: 10px;
	}
	.mb-lg-20 {
		margin-bottom: 20px;
	}
	.mb-lg-30 {
		margin-bottom: 30px;
	}
	.mb-lg-40 {
		margin-bottom: 40px;
	}
	.mb-lg-80 {
		margin-bottom: 80px;
	}
}
@media (max-width: 992px) {
  .sm-none-block{
    display: none;
  }
  .md-pt-0{
    padding-top: 0;
  }
	.temple-counter{
		height: 770px;
	}
	.temple-counter.home-2{
		height: 850px;
	}
	.topbar .top-link.left-side ul,
	.topbar .top-link.right-side ul{
		justify-content: center;
	}
	.topbar .top-link.left-side ul li{
		margin: 0 10px;
	}
	.topbar .top-link.right-side ul li{
		margin: 0 10px;
	}
	.topbar .top-link ul li a{
		font-size: 12px;
	}
	.mb-md-20 {
		margin-bottom: 20px;
	}
	.mb-md-30 {
		margin-bottom: 30px;
	}
	.mb-md-40 {
		margin-bottom: 40px;
	}
	.mb-md-80 {
		margin-bottom: 80px;
	}
}
@media (max-width: 767px) {
	.temple-counter.home-2{
		height: 1050px;
	}
	.mb-sm-20 {
		margin-bottom: 20px;
	}
	.mb-sm-30 {
		margin-bottom: 30px;
	}
	.mb-sm-40 {
		margin-bottom: 40px;
	}
	.mb-sm-80 {
		margin-bottom: 80px;
	}
}
@media (max-width: 576px) {
	.topbar .top-link ul{
		line-height: 0;
	}
	.topbar .top-link ul li a i{
		font-size: 12px;
	}
	.topbar .top-link ul li a{
		font-size: 0px;
	}
	.about-temple:after,
	.about-temple:before,
  .gallery-side-bg::before,
  .gallery-side-bg::after{
		display: none;
	}
	.temple-counter .counter-box{
		justify-content: center;
	}
	.temple-video-sec .temple-counter{
		margin-bottom: 0;
	}
	.temple-counter.home-2,
	.temple-counter{
		height: auto;
		padding-bottom: 80px;
	}
	.temple-video-sec{
		padding-top: 80px;
	}
	.temple-video-sec .video-box{
		margin-top: 0;
	}
	.download-app .app-text .img-box img{
		margin-bottom: 10px;
	}
	.mb-xs-20 {
		margin-bottom: 20px;
	}
	.mb-xs-30 {
		margin-bottom: 30px;
	}
	.mb-xs-40 {
		margin-bottom: 40px;
	}
	.mb-xs-80 {
		margin-bottom: 80px;
	}
}
@media (max-width:380px){}
